extends ../layout 
block mainMenuTitle 
  h3.pageTitle  Surgeries List 
block content
  section#services
    .container
      .row.searchBoxrow
        .flex
          .accordion-group(style="width: 100%; padding-bottom:20px")
            .accordion-heading
              a.accordion-toggle.active(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
                i.icon-minus
                |  Fillters
            #collapseTwo.accordion-body.in.collapse(style='height: auto;')
              .accordion-inner
                section.section.searchBox(style="padding-top: 0;")
                  form(method='POST' action= '' )
                    div.endTime.pull-left.clear(style="width: 90%;")
                      label(for="doctors") Doctor : 
                      select#doctors(name='doctors' style="width: 100%;")
                        option(value='' ) ---
                            if(doctorsList)                               
                              each doctor in doctorsList
                                option(value=doctor ) Dr. #{doctor.title} #{doctor.name}
                    div.endTime.pull-right
                      br
                      input#acitve(type='checkbox', name='active')
                      i.icon-ok  Active
                      br
                      input#acitve(type='checkbox', name='deactive')
                      i.icon-minus-sign   DeActive 
                    div.endTime.pull-left.clear(style="width: 50%;")
                      label(for='title') Start Time: 
                      input#startTime.form-control(type='datetime-local', name='startTime')
                    div.endTime.pull-right(style="width: 50%;")
                      label(for='title') End Time: 
                      input#endTime.form-control(type='datetime-local', name='endTime' )
                    
                    button.btn.btn-primary.pull-right.clear(type='submit') Apply Fillter
                    if(queryString)
                      i.pull-left
                        code #{queryString}
      .row
        
        .flex
          section.section.dropshadow
            a(href='./create')
              .add-btn-container
                i.icon-plus.add-btn
                p  Add 
          if(surgeries)
            each surgerie in surgeries 
              section.section.dropshadow.over
                a(href='#')
                  h3 #{surgerie.title}
                p.active Active :  
                  if(surgerie.active)
                    i.icon-ok
                  else
                      i.icon-minus-sign
                p
                  | From:
                  pre #{surgerie.startDateFormated}
                p
                  | Until:
                  pre #{surgerie.endDateFormated}
                p Paition : 
                  a(href="/../patient/"+surgerie.patient._id target="_blank") -  #{surgerie.patient.title} #{surgerie.patient.name}
                p Doctors:
                ul
                  -var docotors= surgerie.doctor
                  each doctor in docotors 
                    li
                      a(href="/../doctor/"+doctor._id , target="_blank") DR. #{doctor.title} #{doctor.name}
                #tooltip(style='visibility: hidden;')
                  hr
                  .icon-set
                    //- a(href='#', title='View')
                    //-   i.icon-eye-open
                    //- a(href='#', title='Edit')
                      i.icon-edit
                    a(href="./delete/"+ surgerie._id , title='Delete')
                      i.icon-minus

      a.btn.btn-primary.pull-right(href='./create') Create New Surgeries
      .pagination.col-sm-10
        ul
          != createPagination(pages, page)  
      script.
        $('.over').hover(function(){
          $(this).find('#tooltip').css("visibility", "visible");
          },function(){
              $(this).find('#tooltip').css("visibility", "hidden");
          })
