extends ../layout
block mainMenuTitle 
  h3.pageTitle #{title}
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error
    .container
      .row
        h1 #{title}
        div.form-group
          form(method='POST' action= update==='true' ?  '/surgerie/update/'+doctor._id  :'./create' )
            div.pull-left.clear
              label(for='title') Title: 
              input#title(type='text', name='title', placeholder='Plastic Surgeries etc..' required)
            div.checkbox.pull-right
              input#acitve(type='checkbox', name='active')
              |Active
            div.endTime.pull-left.clear
              label(for='title') Start Time: 
              input#startTime.form-control(type='datetime-local', name='startTime' required)
            div.endTime.pull-right
              label(for='title') End Time: 
              input#endTime.form-control(type='datetime-local', name='endTime' required)
            div.endTime.pull-left.clear
              label(for="patient") Patient :
              select#patient.input-lg(name='patient')
                if(patients)
                  each patient in patients
                    option(value=patient) #{patient.title} #{patient.name}  - #{patient.age} 'Years Old
            div.room.pull-right 
              label(for="patient") Room :
              select#patient.input-lg(name='room')
                option(value='Room 1') Room 1 
                option(value='Room 2') Room 2 
                option(value='Room 3') Room 3 
                option(value='Room 4') Room 4 
            div.clear 
              label(for='doctors') Doctors
              table(style="width: 100%;")
                tr
                  td(style=" width: 80%;")
                    select#doctors(name='doctors' style="width: 100%;")
                      if(doctors)
                        each doctor in doctors
                         option(value=doctor ) Dr. #{doctor.title} #{doctor.name}
                  td
                    .plus
                      button.icon-plus.blue.dropshadow.plus

            button.btn.btn-primary.pull-right(type='submit')=( (update==='true') ?  'Update' :'Submit')
          if(update==='true') 
            a.btn.btn-danger.pull-left(href='/doctor/delete/'+doctor._id ) Delete Doctor 
          script.
            var doctors = !{JSON.stringify(doctors)}
            $(document).on("click", "button.plus", function(e){
            const selectWraper = `
            <tbody style="width: 100%;">
              <tr>
                <td style=" width: 80%;">
                  <select name="doctors" id="doctors" style="width: 100%;">
                      ${
                        doctors.map((doctor) => {
                                return `<option  value ='${JSON.stringify(doctor)}' >Dr. ${doctor.title} ${doctor.name}</option>`
                        })
                        }
                  </select>
                  </span>
                </td>
                <td>
                  <div class="plus "> <button  class="icon-plus blue dropshadow plus"></button> </div>
                  <div class="minus "> <button  class="icon-minus red dropshadow minus"></button> </div>
                </td>
              </tr>
            </tbody>`;
            $("form table").append(selectWraper);
            e.preventDefault();
            })
            $(document).on("click", "button.minus", function(e){
              $(this).closest("tbody").remove();
            });

  
