extends ../layout
mixin historyAcc(listOfPro,listOfExperience)
    #accordion2.accordion
                .accordion-group
                  .accordion-heading
                    a.accordion-toggle.active(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                      i.icon-minus
                      |  Disease  History                  
                  #collapseThree.accordion-body.in.collapse(style='height: auto;')
                    .accordion-inner
                      .flex
                         each experience in listOfExperience
                            .alert
                                a.close(title='delete Hitory', style='color: black;', href='../../doctorExperience/delete/'+ experience.id+'/'+doctor._id) ×
                                strong Title : 
                                span #{experience.proficiency.title}
                      a#replace(href='#')
                        i.icon-plus   add Proficiency ....
                  script.
                    var proficiencys = !{JSON.stringify(listOfPro)}
                    function fillSelect(){
                        proficiencys.map((proficiency) => {
                             var x = document.createElement("OPTION");
                            x.setAttribute("value", `${proficiency._id}`);
                            x.setAttribute("name", `${proficiency.title}`);
                            var t = document.createTextNode(proficiency.title);
                            x.appendChild(t);
                            document.getElementById("proficiencyList").appendChild(x);
                        });
                        }
                    $(document).on("click" , "#replace", function(e){
                     const htmlForReplace = `<form action="../../doctorExperience/create/#{doctor._id}" method="POST" name ='history' id="history">
                              <table>
                                  <tr>
                                      <td>
                                          <span name='histoy1'>
                                              <select  class = "form-control input-lg"  name="proficiencyList" id="proficiencyList"> 
                                              </select>    
                                          </span>
                                      </td>
                                      <td>
                                          <div class="plus "> <button  class="icon-plus blue dropshadow plus"></button> </div>
                                          <div class="minus "> <button  class="icon-minus red dropshadow minus"></button> </div>
                                      </td>    
                                  </tr>
                              </table>
                              <input class="btn btn-primary pull-right" type="submit" value="BatchUpdate" name="submit">
                          </form>`;
                           $("#replace").replaceWith(htmlForReplace);
                            fillSelect();
                            e.preventDefault();
                        });
                        $(document).on("click", "button.plus", function(e){
                        const selectWraper = `<tbody>
                            <tr>
                                <td>
                                    <span name='histoy1'>
                                        <select name="proficiencyList" id="proficiencyList">
                                        ${
                                        proficiencys.map((proficiency) => {
                                          return `<option name ='${proficiency.title}' value ='${proficiency._id}' >${proficiency.title}</option>`
                                        })
                                        }
                                        </select>
                                    </span>
                                </td>
                                <td>
                                    <div class="plus "> <button  class="icon-plus blue dropshadow plus"></button> </div>
                                    <div class="minus "> <button  class="icon-minus red dropshadow minus"></button> </div>
                                </td>    
                            </tr>
                        </tbody>
                        `;
                        
                        $("form#history table").append(selectWraper);
                        e.preventDefault();
                    });
                    $(document).on("click", "button.minus", function(){
                        $(this).closest("tbody").remove();
                    });

block mainMenuTitle 
  h3.pageTitle #{title}
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
                      
    .container
      .row
        h1 #{title}
        form(method='POST' action= update==='true' ?  '/doctor/update/'+doctor._id  :'./create' )
          div.form-group
            label(for='title') Title: 
            select#title(name='title')
              option(value='Mr') Mr
              option(value='Mrs') Mrs
              option(value='Miss') Miss
              if(doctor!==undefined)
                - var title = doctor.title;
            label(for='name') Full Name: 
            input#name.form-control.input-lg(type='text', placeholder='John Doe' name='name' value=(undefined===doctor ? '' : doctor.name ) style='min-width: 100%;')          
            label(for='age') Age: 
            input#age.form-control.input-lg(type='Number', placeholder='...' name='age' value=(undefined===doctor ? '' : doctor.age))
          if(update)
             +historyAcc(proficiencys,experiences)
          button.btn.btn-primary.pull-right(type='submit')=( (update==='true') ?  'Update' :'Submit')
        if(update==='true') 
          a.btn.btn-danger.pull-left(href='/doctor/delete/'+doctor._id ) Delete Doctor 
          script  document.querySelector('#title').value='#{title}'

    
