extends layout

block content

  section#services
  .container
    .row
      .span3
        .box.aligncenter
          .halftop
            h4
              strong Manage Doctor
            i.icon-user-md.icon-4x
          p
            | Lorem ipsum dolor sit amet, eum no latine delectus deserunt diam
          a.btn.btn-theme(href='/doctor') Manage
      .span3
        .box.aligncenter
          .halftop
            h4
              strong Manage Patients
            i.icon-user.icon-4x
          p
            | Lorem ipsum dolor sit amet, eum no latine delectus deserunt diam
          a.btn.btn-theme(href='/patient') Manage
      .span3
        .box.aligncenter
          .halftop
            h4
              strong Manage Docters Profeciency List
            i.icon-sitemap.icon-4x
          p
            | Lorem ipsum dolor sit amet, eum no latine delectus deserunt diam
          a.btn.btn-theme(href='/proficiency') Manage
      .span3
        .box.aligncenter
          .halftop
            h4
              strong Manage Disease
            i.icon-beaker.icon-4x
          p
            | Lorem ipsum dolor sit amet, eum no latine delectus deserunt diam
          a.btn.btn-theme(href='/disease') Manage