doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Surgeri labs Inc
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // styles
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
    link(href='/stylesheets/prettyPhoto.css', rel='stylesheet')
    link(href='/stylesheets/animate.css', rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Roboto+Condensed:400,300,700', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/Colorsdefault.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/ico/favicon.ico')
    script(src='/javascripts/jquery.min.js')
  block header
  body
    header
      // start top
      #topnav.navbar.navbar-fixed-top.default
        .navbar-inner
          .container
            .logo
              a(href='/')
                img(src='/images/logo.png', alt='', style='width:40px;height:40px;')
              block mainMenuTitle
            .navigation
              nav
                ul.nav.pull-right
                  li 
                    a.external(href='/surgerie/surgeries') Schedule
                  li.dropdown
                    a(href='#')
                      | Manage
                      i.icon-angle-down
                    ul.dropdown-menu
                      li
                        a.external(href='/doctor') Doctor
                      li
                        a.external(href='/patient') Patients 
                      li
                        a.external(href='/proficiency') Profeciency 
                      li
                        a.external(href='/disease') Disease 
            // /.nav-collapse
    block content
    footer
      .verybottom
        .container
          .row
            .span12
              .aligncenter
                .logo
                  a.brand(href='index.html')
                    img(src='/images/logo.png', alt='', style='width:60px;height:60px;')
                p
                  | © Surgeri labs Inc - All right reserved
                .credits
                  | Created by 
                  a(href='#') Masroor Hosseini
    a.scrollup(href='#')
      i.icon-chevron-up.icon-square.icon-48.active
    // Javascript Library Files
    script(src='/javascripts/jquery.easing.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/parallax/jquery.parallax-1.1.3.js')
    script(src='/javascripts/nagging-menu.js')
    script(src='/javascripts/jquery.nav.js')
    script(src='/javascripts/prettyPhoto/jquery.prettyPhoto.js')
    script(src='/javascripts/portfolio/jquery.quicksand.js')
    script(src='/javascripts/portfolio/setting.js')
    script(src='/javascripts/hover/jquery-hover-effect.js')
    script(src='/javascripts/jquery.scrollTo.min.js')
    script(src='/javascripts/animate.js')
    script(src='/javascripts/contactform/contactform.js')

    script(src='/javascripts/custom.js')
