extends ../layout
mixin historyAcc()
    #accordion2.accordion
                .accordion-group
                  .accordion-heading
                    a.accordion-toggle.active(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                      i.icon-minus
                      |  Disease  History
                  #collapseThree.accordion-body.in.collapse(style='height: auto;')
                    .accordion-inner
                      a#replace(href='#')
                        i.icon-plus   add Disease  History

block mainMenuTitle 
  h3.pageTitle Patient
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
    .container
      .row
        div.form-group
          label(for='title') Title: 
          select#title(name='title' disabled)
            option(value='Mr') Mr
            option(value='Mrs') Mrs
            option(value='Miss') Miss
            if(patient!==undefined)
              - var checked = patient.smoking;
              - var title = patient.title;
          label(for='name') Full Name: 
          input#name.form-control.input-lg(type='text', placeholder='John Doe' name='name' value=(undefined===patient ? '' : patient.name ) style='min-width: 100%;' disabled )          
          label(for='age') Age: 
          input#age.form-control.input-lg(type='Number', placeholder='...' name='age' value=(undefined===patient ? '' : patient.age) disabled)
          .pull-right
            input#smoke.form-check-input.form-control(type='checkbox', name='smoking', value="true" checked = (checked === true ? 'checked' : undefined)  disabled)
            |     Smoking 
          if(patient.isNew ==false)
            +historyAcc
          .actions  
            a.btn.btn-primary.pull-right(href='./create') Create New Patient
            a.btn.btn-danger.pull-left(href='/patient/delete/'+patient._id ) Delete Patient
            a.btn.btn-info.pull-left(href='./update/'+patient._id style='margin-left: 20px;') Update Patient
          //- script
          //-   include  ./autoForm.js