extends ../layout 
block mainMenuTitle 
  h3.pageTitle  Proficiencys List 
block content
  section#services
    .container
      .row
        table#tg-wpsDZ.tg
          thead
            tr
              th.tg-yw4l(style='width:2%;')  
              th.tg-yw4l(style='width:90%;')    Name 
              th.tg-yw4l(style='width:18%;')    Action
          tbody
            each proficiency , i  in proficiencys
              tr
                td.tg-yw4l  #{i+1}
                td.tg-yw4l(style='padding-left: 15px;')  
                  a(href='./'+proficiency._id)  #{proficiency.title}
                td.tg-yw4l(style='text-align: center;')
                  span.actions
                    a(href='./'+proficiency._id title='View' style='margin-left: 4%;') 
                      span
                        i.icon-eye-open
                    a(href='delete/'+proficiency._id title='Delete' style='margin-left: 4%;') 
                      span
                        i.icon-trash
                    a(href='update/'+proficiency._id title='Update' style='margin-left: 4%;') 
                      span
                        i.icon-edit
            
            script
              include  ./table.js
      a.btn.btn-primary.pull-right(href='./create') Create New Proficiency
      .pagination.col-sm-10
        ul
          != createPagination(pages, page)
