extends ../layout
block mainMenuTitle 
  h3.pageTitle #{title}
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
                      
    .container
      .row
        h1 #{title}
        form(method='POST' action= update==='true' ?  '/proficiency/update/'+proficiency._id  :'./create' )
          div.form-group
            label(for='title') Title: 
            input#title.form-control.input-lg(type='text', placeholder='Physiology etc.' name='title' value=(undefined===proficiency ? '' : proficiency.title ) style='min-width: 100%;')          
          button.btn.btn-primary.pull-right(type='submit')=( (update==='true') ?  'Update' :'Submit')
        if(update==='true') 
          a.btn.btn-danger.pull-left(href='/proficiency/delete/'+proficiency._id ) Delete Proficiency
          
    
    
